## .NET / Visual Studio
bin/
obj/
publish/
publish-selfcontained/
publish-single/
*.zip
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/build/

## Rider / JetBrains
.idea/
*.sln.iml

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
